# Rainmaker sandbox

Standard imports...

In [21]:
import sys, os
import argparse
import numpy as np
from astropy.io import ascii

Now we need to import rainmaker. Make sure this jupyter notebook is in the directory above the module, or that it is otherwise in your path!

In [ ]:
from rainmaker import rainmaker

In [27]:
filename = "rainmaker/accept_main_table.txt"
cluster_name = "Abell_2597"

The ACCEPT main table uses names (in the first column) that are written like "ABELL_2597", "ZWICKY_2107", etc. So simply ensure that the input cluster_name is in a format that will match that written in the ACCEPT table. This is easy:

In [28]:
cluster_name_clean = cluster_name.replace(" ","_").upper()
cluster_name_clean

'ABELL_2597'

In [24]:
data = rainmaker.parse_data_table(filename, cluster_name_clean)

In [33]:
data.show_in_notebook()

In [34]:
data.colnames

['Name',
 'Rin',
 'Rout',
 'nelec',
 'neerr',
 'Kitpl',
 'Kflat',
 'Kerr',
 'Pitpl',
 'Pflat',
 'Perr',
 'Mgrav',
 'Merr',
 'Tx',
 'Txerr',
 'Lambda',
 'tcool5/2',
 't52err',
 'tcool3/2',
 't32err']

Don't make dynamically created variable names. They're hard to program with. Instead, create a dictionary from a for loop.

In [49]:
dictionary = {}
for column in data.colnames:
    dictionary['%s' % column] = data[column]

In [51]:
dictionary

{'Kerr': <Column name='Kerr' dtype='float64' length=12>
   7.434
  7.8627
  7.7008
  7.1284
  6.1777
  4.6894
   4.132
  2.7789
  2.5724
  1.9254
   1.284
 0.98604, 'Kflat': <Column name='Kflat' dtype='float64' length=12>
 84.828
 81.501
 78.347
 72.837
 64.585
 49.883
 41.287
 33.761
 29.155
 25.394
 16.165
 12.221, 'Kitpl': <Column name='Kitpl' dtype='float64' length=12>
 84.828
 81.501
 78.347
 72.837
 64.585
 49.883
 41.287
 33.761
 29.155
 25.394
 16.165
 11.496, 'Lambda': <Column name='Lambda' dtype='float64' length=12>
 1.7894e-23
 1.7894e-23
 1.8758e-23
 1.8982e-23
 1.8765e-23
 1.7795e-23
 1.7856e-23
 1.7498e-23
 1.8234e-23
 1.8483e-23
  1.625e-23
 1.5948e-23, 'Merr': <Column name='Merr' dtype='float64' length=12>
 322760000000.0
     1.2814e+12
     1.0772e+12
 975160000000.0
 820720000000.0
 612690000000.0
 499570000000.0
 294870000000.0
 165350000000.0
 150480000000.0
  31689000000.0
  14473000000.0, 'Mgrav': <Column name='Mgrav' dtype='float64' length=12>
     5.0837e+12
     1.8715e+13
     1.5237e+13
     1.3862e+13
     1.1918e+13
     9.0001e+12
     6.8775e+12
     4.9278e+12
     2.5753e+12
      2.726e+12
 546380000000.0
 230600000000.0, 'Name': <Column name='Name' dtype='str18' length=12>
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597
 ABELL_2597, 'Perr': <Column name='Perr' dtype='float64' length=12>
   5.91e-12
 6.7582e-12
 8.3361e-12
 9.7107e-12
 1.0522e-11
 1.3469e-11
 1.5476e-11
 1.5255e-11
 1.6055e-11
  1.664e-11
  2.233e-11
 2.6248e-11, 'Pflat': <Column name='Pflat' dtype='float64' length=12>
 6.6446e-11
 6.7436e-11
 8.2861e-11
 9.6871e-11
  1.076e-10
  1.411e-10
 1.5271e-10
 1.8337e-10
 1.8025e-10
 2.1754e-10
 2.7961e-10
 3.2444e-10, 'Pitpl': <Column name='Pitpl' dtype='float64' length=12>
 6.6446e-11
 6.7436e-11
 8.2861e-11
 9.6871e-11
  1.076e-10
  1.411e-10
 1.5271e-10
 1.8337e-10
 1.8025e-10
 2.1754e-10
 2.7961e-10
 3.0519e-10, 'Rin': <Column name='Rin' dtype='float64' length=12>
 0.08328
 0.07571
 0.06814
 0.06057
   0.053
 0.04543
 0.03786
 0.03029
 0.02271
 0.01514
 0.00757
     0.0, 'Rout': <Column name='Rout' dtype='float64' length=12>
 0.09086
 0.08328
 0.07571
 0.06814
 0.06057
   0.053
 0.04543
 0.03786
 0.03029
 0.02271
 0.01514
 0.00757, 'Tx': <Column name='Tx' dtype='float64' length=12>
 4.0052
 3.9491
 4.2416
 4.2094
 4.0748
 3.8184
 3.5377
 3.2308
 3.1708
 3.0181
 2.5829
   2.36, 'Txerr': <Column name='Txerr' dtype='float64' length=12>
 0.34566
 0.37373
 0.41124
 0.39988
 0.38345
 0.34744
 0.35133
 0.25765
 0.26074
 0.23962
 0.20486
    0.19, 'neerr': <Column name='neerr' dtype='float64' length=12>
 0.00020889
 0.00038548
 0.00035305
  0.0004097
 0.00043943
 0.00049273
  0.0005576
 0.00053117
 0.00057924
 0.00058564
 0.00072684
 0.00071986, 'nelec': <Column name='nelec' dtype='float64' length=12>
 0.010248
 0.010591
 0.012271
  0.01408
 0.016118
 0.022143
 0.026009
 0.032752
 0.035399
  0.04305
 0.065628
 0.084861, 't32err': <Column name='t32err' dtype='float64' length=12>
  0.33924
   0.3701
  0.32642
   0.2741
  0.23121
  0.15901
  0.13556
 0.080358
 0.072145
 0.053517
 0.033973
 0.024727, 't52err': <Column name='t52err' dtype='float64' length=12>
  0.56539
  0.61682
  0.54404
  0.45683
  0.38534
  0.26501
  0.22594
  0.13393
  0.12024
 0.089195
 0.056622
 0.041211, 'tcool3/2': <Column name='tcool3/2' dtype='float64' length=12>
  3.8255
    3.65
  3.2277
  2.7588
  2.3599
  1.6975
  1.3343
 0.98742
 0.86047
 0.66438
 0.42422
 0.30544, 'tcool5/2': <Column name='tcool5/2' dtype='float64' length=12>
  6.3758
  6.0834
  5.3795
  4.5981
  3.9332
  2.8291
  2.2238
  1.6457
  1.4341
  1.1073
 0.70704
 0.50907}